html {
    height: 100%;
}
body{
    background: linear-gradient(to bottom, #ffee02, #fcc101, #ff8800, #ff5500, #e32423, #de008c, #9618de, #4f21bd, #0251ea, #0397b8, #008e5c, #8dbb27);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}