.gradient {
    background: linear-gradient(to bottom, #ffee02, #fcc101, #ff8800, #ff5500, #e32423, #de008c, #9618de, #4f21bd, #0251ea, #0397b8, #008e5c, #8dbb27);
    margin: 10%;
    size: 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper { 
  height: 25%;
  width: 25%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ffee02, #fcc101, #ff8800, #ff5500, #e32423, #de008c, #9618de, #4f21bd, #0251ea, #0397b8, #008e5c, #8dbb27);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}