html {
    height: 100%;
}
body{
    background: linear-gradient(to bottom, #FF0000, #00FF00, #0000FF );
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}